.container {
  margin-top: 3%;
  background: url("../../Images/6071546.jpg");
  font-family: "Inter", sans-serif;
  background-position: 300px;
  border-radius: 23px;
  @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800;900&display=swap");
  padding: 2rem;
}

.paymentcard {
  margin-right: 2rem;
  border-radius: 20px;
  background: #d5ffea;
  box-shadow: 35px 35px 70px #576960, -35px -35px 70px #ffffff;
  border: 1px solid rgb(177, 177, 177);
}

.logoandtext {
  display: flex;
  justify-content: space-around;
}
.add_new_cardtext {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add_new_cardtext h3 {
  font-weight: 700;
}

.logo img {
  width: 70px;
  height: 70px;
}

.cardinfo {
  margin-top: 3rem;
}

.cardinfo .cardnumber {
  display: flex;
}

.cardinfo .cardowner {
  display: flex;
}

.cardinfo .dateandcvc {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-right: 4%;
}

.cardinfo .carddate {
  width: 210px;
  display: flex;
  margin-right: 30px;
  align-items: center;
}

.cardinfo .cardcvc {
  width: 110px;
  display: flex;
  align-items: center;
}

.ordersummary {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 20px 20px 0px 0px;
  -moz-border-radius: 20px 20px 0px 0px;
  -webkit-border-radius: 20px 20px 0px 0px;
  border: 0px solid #000000;
  border: 1px solid rgba(255, 255, 255, 0.18);
  border: 1px solid rgb(177, 177, 177);
}

.order_summary_text {
  display: flex;
  margin: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  align-items: center;
  margin-left: 1.5rem;
}
.order_summary_text h3 {
  margin-left: 0.75rem;
  font-weight: 600;
}

.product_detail {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  margin-top: 1rem;
}

.product_detail .price_portion {
  display: flex;
  font-weight: 700;
  margin-left: 3rem;
}

.product_detail .price_portion .portion {
  margin-right: 1rem;
}

.product_about {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.product_about .product_name_img {
  display: flex;
  align-items: center;
}
.product_about .product_name_img img {
  width: 30px;
  height: 40px;
  margin-right: 0.75rem;
}

.product_about .price_portion {
  display: flex;
}

.product_about .price_portion h3 {
  margin-right: 2rem;
}

.total {
  display: flex;
  margin-right: 1rem;
  align-items: flex-end;
  flex-direction: column;
}

.total_price {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 5;
  float: right;
  margin-right: 1rem;
}
.total h4 {
  margin-top: 0.75rem;
}
.total h2 {
  margin-top: 0.75rem;
}

.total h5 {
  margin-top: 0.75rem;
}

.btn {
  font-weight: 0;
  font-size: 14px;
  padding: 10px 30px;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  border-radius: 50px;
  transition: 1000ms;
  transform: translateY(0);
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.btn:hover {
  transition: 1000ms;
  padding: 10px 50px;
  transform: translateY(-0px);
  background-color: #fff;
  color: #79ff67;
}

.da-code {
  position: relative;
  font-size: 8px;
  height: 1em;
  /* change the size of this to see how ralph will scale up or down */
  width: 1em;
  margin: 0 34em 34em 0;
  float: left;
  box-shadow: 8em 0 #000, 10em 0 #000, 11em 0 #000, 12em 0 #000, 14em 0 #000,
    16em 0 #000, 12em 1em #000, 13em 1em #000, 14em 1em #000, 16em 1em #000,
    8em 2em #000, 9em 2em #000, 10em 2em #000, 13em 2em #000, 14em 2em #000,
    16em 2em #000, 9em 3em #000, 13em 3em #000, 14em 3em #000, 16em 3em #000,
    10em 4em #000, 11em 4em #000, 12em 4em #000, 13em 4em #000, 14em 4em #000,
    8em 5em #000, 10em 5em #000, 12em 5em #000, 13em 5em #000, 16em 5em #000,
    8em 6em #000, 10em 6em #000, 12em 6em #000, 14em 6em #000, 16em 6em #000,
    9em 7em #000, 14em 7em #000, 16em 7em #000, 0em 8em #000, 2em 8em #000,
    6em 8em #000, 7em 8em #000, 10em 8em #000, 12em 8em #000, 15em 8em #000,
    16em 8em #000, 19em 8em #000, 22em 8em #000, 24em 8em #000, 0em 9em #000,
    1em 9em #000, 3em 9em #000, 5em 9em #000, 8em 9em #000, 10em 9em #000,
    12em 9em #000, 13em 9em #000, 15em 9em #000, 16em 9em #000, 18em 9em #000,
    19em 9em #000, 21em 9em #000, 23em 9em #000, 24em 9em #000, 5em 10em #000,
    6em 10em #000, 7em 10em #000, 10em 10em #000, 11em 10em #000, 15em 10em #000,
    16em 10em #000, 18em 10em #000, 19em 10em #000, 20em 10em #000,
    21em 10em #000, 22em 10em #000, 24em 10em #000, 0em 11em #000, 1em 11em #000,
    2em 11em #000, 3em 11em #000, 4em 11em #000, 5em 11em #000, 8em 11em #000,
    9em 11em #000, 12em 11em #000, 14em 11em #000, 16em 11em #000,
    18em 11em #000, 19em 11em #000, 21em 11em #000, 3em 12em #000, 4em 12em #000,
    6em 12em #000, 8em 12em #000, 9em 12em #000, 10em 12em #000, 11em 12em #000,
    15em 12em #000, 16em 12em #000, 18em 12em #000, 24em 12em #000,
    3em 13em #000, 9em 13em #000, 10em 13em #000, 13em 13em #000, 15em 13em #000,
    16em 13em #000, 17em 13em #000, 18em 13em #000, 19em 13em #000,
    23em 13em #000, 24em 13em #000, 0em 14em #000, 1em 14em #000, 2em 14em #000,
    4em 14em #000, 6em 14em #000, 8em 14em #000, 9em 14em #000, 11em 14em #000,
    13em 14em #000, 15em 14em #000, 17em 14em #000, 18em 14em #000,
    21em 14em #000, 22em 14em #000, 24em 14em #000, 3em 15em #000, 5em 15em #000,
    9em 15em #000, 14em 15em #000, 15em 15em #000, 16em 15em #000,
    17em 15em #000, 19em 15em #000, 0em 16em #000, 1em 16em #000, 6em 16em #000,
    9em 16em #000, 11em 16em #000, 12em 16em #000, 14em 16em #000,
    16em 16em #000, 17em 16em #000, 18em 16em #000, 19em 16em #000,
    20em 16em #000, 23em 16em #000, 8em 17em #000, 9em 17em #000, 10em 17em #000,
    12em 17em #000, 13em 17em #000, 16em 17em #000, 20em 17em #000,
    22em 17em #000, 24em 17em #000, 8em 18em #000, 9em 18em #000, 12em 18em #000,
    16em 18em #000, 18em 18em #000, 20em 18em #000, 21em 18em #000,
    24em 18em #000, 9em 19em #000, 10em 19em #000, 11em 19em #000,
    12em 19em #000, 14em 19em #000, 15em 19em #000, 16em 19em #000,
    20em 19em #000, 24em 19em #000, 13em 20em #000, 14em 20em #000,
    15em 20em #000, 16em 20em #000, 17em 20em #000, 18em 20em #000,
    19em 20em #000, 20em 20em #000, 21em 20em #000, 24em 20em #000,
    9em 21em #000, 10em 21em #000, 13em 21em #000, 15em 21em #000,
    16em 21em #000, 17em 21em #000, 19em 21em #000, 20em 21em #000,
    21em 21em #000, 22em 21em #000, 23em 21em #000, 8em 22em #000,
    10em 22em #000, 11em 22em #000, 15em 22em #000, 16em 22em #000,
    20em 22em #000, 23em 22em #000, 24em 22em #000, 13em 23em #000,
    16em 23em #000, 19em 23em #000, 20em 23em #000, 8em 24em #000,
    10em 24em #000, 11em 24em #000, 12em 24em #000, 13em 24em #000,
    16em 24em #000, 17em 24em #000, 21em 24em #000, 24em 24em #000;
  /* row 1 */
  /* row 2 */
  /* row 3 */
  /* row 4 */
  /* row 5 */
  /* row 6 */
  /* row 7 */
  /* row 8 */
  /* row 9 */
  /* row 10 */
  /* row 11 */
  /* row 12 */
  /* row 13 */
  /* row 14 */
  /* row 15 */
  /* row 16 */
  /* row 17 */
  /* row 18 */
  /* row 19 */
  /* row 20 */
  /* row 21 */
  /* row 22 */
  /* row 23 */
  /* row 24 */
  /* row 25 */
}
/* position markers */
.qr_code {
  display: flex;
  flex-direction: column;
  margin: 0.85rem;
}
.da-code:before {
  content: "";
  width: 3em;
  height: 3em;
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  margin: 2em;
  box-shadow: 0 0 0 1em white, 0 0 0 2em #000, 18em 0 0 #000, 18em 0 0 1em white,
    18em 0 0 2em #000, 0 18em 0 #000, 0 18em 0 1em white, 0 18em 0 2em #000;
}
.follow-me {
  position: absolute;
  bottom: 10px;
  right: 10px;
  text-decoration: none;
}
#qr1 {
  font-size: 1px;
}
#qr2 {
  font-size: 2px;
}
#qr3 {
  font-size: 3px;
}
#qr4 {
  font-size: 4px;
}
#qr5 {
  font-size: 5px;
}
#qr6 {
  font-size: 6px;
}
#qr7 {
  font-size: 7px;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .paymentcard {
    width: 550px;
    height: 500px;
  }

  .ordersummary {
    width: 550px;
    margin-top: 2rem;
    margin-right: 4%;
  }
  .dateandcvc {
    margin-left: 9%;
  }

  .carditem {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .ordersummary {
    width: 350px;
  }
}
