body {
  background-color: #d9843f;
}
:root {
  --loading-grey: #ededed;
}
.cardd {
  width: 1550px;
  background-color: #fff;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.12);
  margin-bottom: 8rem;
}

.imagee {
  height: 400px;
}

.imagee img {
  display: block;
  width: 100%;
  height: inherit;
  object-fit: cover;
}

.content {
  padding: 2rem 1.8rem;
}

h4 {
  margin: 0 0 1rem;
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.description {
  font-size: 1rem;
  line-height: 1.4rem;
}

.loading .imagee,
.loading h4,
.loading .description {
  background-color: var(--loading-grey);
  background: linear-gradient(
      100deg,
      rgba(255, 255, 255, 0) 40%,
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0) 60%
    )
    var(--loading-grey);
  background-size: 200% 100%;
  background-position-x: 180%;
  animation: 1s loading ease-in-out infinite;
}

@keyframes loading {
  to {
    background-position-x: -20%;
  }
}

.loading h4 {
  min-height: 1.6rem;
  border-radius: 4px;
  animation-delay: 0.05s;
}

.loading .description {
  min-height: 4rem;
  border-radius: 4px;
  animation-delay: 0.06s;
}

body {
  margin: 0px;
  padding: 0px;
}
body .card {
  border-radius: 10px;
  transition: 0.5s ease-in-out;
  margin: 1.5rem;
  margin-top: 1rem;
}
body .card:hover {
  transform: scale(1.06);
  transition: 0.3s ease-in-out;
 }
body .card .image-css {
  position: relative;
}
body .card .image-css img {
  width: 100%;
  max-height: 400px;
  border-radius: 10px 10px 0px 0px;
}
body .card .image-css i {
  position: absolute;
  top: 25px;
  right: 25px;
  font-size: 28px;
  color: #ffffff;
  transition: 0.5s ease-in-out;
}
body .card .image-css i:hover {
  cursor: pointer;
  color: rgba(255, 0, 0, 0.8);
  transition: 0.5s ease-in-out;
}
body .card .card-body {
  text-align: center;
}
body .card .card-body a {
  margin: 0px auto;
  text-decoration: none;
}

/* .products {
  display: flex;
  flex-wrap: wrap;
}

  */
.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
