@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
* {
  box-sizing: border-box;
}

body {
  color: #333;
  -webkit-font-smoothing: antialiased;
  font-family: "Droid Serif", serif;
}
img {
  max-width: 100%;
}
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}
.cf {
  *zoom: 1;
}
.wrap {
  width: 75%;
  max-width: 960px;
  margin: 0 auto;
  padding: 5% 0;
  margin-bottom: 5em;
}
.projTitle {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 2em;
  padding: 1em 0;
  border-bottom: 1px solid #dadada;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.projTitle span {
  font-family: "Droid Serif", serif;
  font-weight: normal;
  font-style: italic;
  text-transform: lowercase;
  color: #777;
}
.heading {
  padding: 1em 0;
  border-bottom: 1px solid #d0d0d0;
}
.heading h1 {
  font-family: "Droid Serif", serif;
  font-size: 2.5rem;
  float: left;
}
.heading a.continue:link,
.heading a.continue:visited {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  letter-spacing: -0.015em;
  line-height: 20px;
  font-size: 1em;
  padding: 1em;
  color: #fff;
  background-color: #e48a3c;
  font-weight: bold;
  border-radius: 50px;
  float: right;
  text-align: right;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
}

.heading a.continue:after {
  content: "\276f";
  padding: 0.5em;
  position: relative;
  right: 0;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -ms-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
}
.heading a.continue:hover,
.heading a.continue:focus,
.heading a.continue:active {
  background: #f69679;
}
.heading a.continue:hover:after,
.heading a.continue:focus:after,
.heading a.continue:active:after {
  right: -10px;
}
.tableHead {
  display: table;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 0.75em;
}
.tableHead li {
  display: table-cell;
  padding: 1em 0;
  text-align: center;
}
.tableHead li.prodHeader {
  text-align: left;
}
.cart {
  padding: 1em 0;
}
.cart .items {
  display: block;
  width: 100%;
  vertical-align: middle;
  padding: 1.5em;
  border-bottom: 1px solid #fafafa;
}
.cart .items.even {
  background: #fafafa;
}
.cart .items .infoWrap {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.cart .items .cartSection {
  display: table-cell;
  vertical-align: middle;
}

.cartSection h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  font-size: 0.95rem;
}

items .cartSection .itemNumber {
  font-size: 0.75em;
  color: #777;
  margin-bottom: 0.5em;
}
.cart .items .cartSection h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  font-size: 1rem;
}
.cartSection h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  font-size: 1.7rem;
}
.cart .items .cartSection p {
  display: inline-block;
  font-size: 0.85em;
  color: #777777;
  font-family: "Montserrat", sans-serif;
}
.cart .items .cartSection p .quantity {
  font-weight: bold;
  color: #333;
}
.cart .items .cartSection p.stockStatus {
  color: #2b6cb0;
  font-weight: bold;
  padding: 0.5em 0 0 1em;
  text-transform: uppercase;
  margin-top: 0.25rem;
}
.cart .items .cartSection p.stockStatus.out {
  color: #f69679;
}
.cart .items .cartSection .itemImg {
  width: 6em;
  float: left;
}
.cart .items .cartSection.qtyWrap,
.cart .items .cartSection.prodTotal {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart .items .cartSection.qtyWrap p,
.cart .items .cartSection.prodTotal p {
  font-weight: bold;
  font-size: 1.25em;
}
.cart .items .cartSection input.qty {
  width: 2em;
  text-align: center;
  font-size: 1em;
  padding: 0.25em;
  margin: 1em 0.5em 0 0;
}
.cart .items .cartSection .itemImg {
  width: 20em;
  display: inline;
  padding-right: 6em;
}
.special {
  display: block;
  font-family: "Montserrat", sans-serif;
}
.special .specialContent {
  padding: 1em 1em 0;
  display: block;
  margin-top: 0.5em;
  border-top: 1px solid #dadada;
}
.special .specialContent:before {
  content: "\21b3";
  font-size: 1.5em;
  margin-right: 1em;
  color: #6f6f6f;
  font-family: helvetica, arial, sans-serif;
}
.remove {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  padding: 0.5em;
  font-size: 0.75em;
  display: inline-block;
  border-radius: 100%;
  line-height: 0.85;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
  margin-left: 1.5rem;
}
a.remove:hover {
  background: rgb(205, 71, 38);
}
.promoCode {
  border: 2px solid #efefef;
  float: left;
  width: 35%;
  padding: 2%;
  margin-top: 1rem;
}
.promoCode label {
  display: block;
  width: 100%;
  font-style: italic;
  font-size: 1.15em;
  margin-bottom: 0.5em;
  letter-spacing: -0.025em;
}
.promoCode input {
  width: 85%;
  font-size: 1em;
  padding: 0.5em;
  float: left;
  border: 1px solid #dadada;
}
.promoCode input:active,
.promoCode input:focus {
  outline: 0;
}
.promoCode a.btn {
  float: left;
  width: 15%;
  padding: 0.75em 0;
  border-radius: 0 1em 1em 0;
  text-align: center;
  border: 1px solid #e48a3c;
}
.promoCode a.btn:hover {
  border: 1px solid #f69679;
  background: #f69679;
}
.btn:link,
.btn:visited {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  letter-spacing: -0.015em;
  font-size: 1em;
  padding: 1em 3em;
  color: #fff;
  background: #e48a3c;
  font-weight: bold;
  border-radius: 50px;
  float: right;
  text-align: right;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
.btn:after {
  content: "\276f";
  padding: 0.5em;
  position: relative;
  right: 0;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -ms-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
}
.btn:hover,
.btn:focus,
.btn:active {
  background: #f69679;
}
.btn:hover:after,
.btn:focus:after,
.btn:active:after {
  right: -10px;
}
.promoCode .btn {
  font-size: 0.85em;
  padding: 0.5em 2em;
}
/* TOTAL AND CHECKOUT  */
.subtotal {
  float: right;
  width: 35%;
}
.subtotal .totalRow {
  padding: 0.5em;
  text-align: right;
}
.subtotal .totalRow.final {
  font-size: 1.25em;
  font-weight: bold;
}
.subtotal .totalRow span {
  display: inline-block;
  padding: 0 0 0 1em;
  text-align: right;
}
.subtotal .totalRow .label {
  font-family: "Montserrat", sans-serif;
  font-size: 0.85em;
  text-transform: uppercase;
  color: #777;
}
.subtotal .totalRow .value {
  letter-spacing: -0.025em;
  width: 35%;
}
@media only screen and (max-width: 39.375em) {
  .wrap {
    width: 98%;
    padding: 2% 0;
  }
  .projTitle {
    font-size: 1.5em;
    padding: 10% 5%;
  }
  .heading {
    padding: 1em;
    font-size: 90%;
  }
  .cart .items .cartSection {
    width: 90%;
    display: block;
    float: left;
  }
  .cart .items .cartSection.qtyWrap {
    width: 10%;
    text-align: center;
    padding: 0.5em 0;
    float: right;
  }
  .cart .items .cartSection.qtyWrap:before {
    content: "QTY";
    display: block;
    font-family: "Montserrat", sans-serif;
    padding: 0.25em;
    font-size: 0.75em;
  }
  .cart .items .cartSection.prodTotal,
  .cart .items .cartSection.removeWrap {
    display: none;
  }
  .cart .items .cartSection .itemImg {
    width: 25%;
  }
  .promoCode,
  .subtotal {
    width: 100%;
  }
  a.btn.continue {
    width: 100%;
    text-align: center;
  }
}

.deleteandprice {
  display: flex;
  justify-content: flex-end;
}

.incdecbutton {
  display: flex;
  justify-content: flex-start;
  margin-top: 1rem;
}

.incdecbutton .incdecvalue {
  padding: 0.25rem;
  font-family: sans-serif;
}

@import url(https://fonts.googleapis.com/css?family=Oswald:400,700);
@import url(https://fonts.googleapis.com/css?family=Nunito:400,700);
:root {
  background: -webkit-linear-gradient(top, #222838 0%, #131621 100%);
  height: 100vh;
}

.containerr {
  width: 334px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 0;
  text-align: center;
  right: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

body {
  background: #333;
}
a {
  /* color: white; */
  text-decoration: none;
}

h1,
h2 {
  font-family: "Oswald", sans-serif;
  font-weight: normal;
}

h2 {
  font-size: 14px;
  margin-bottom: 30px;
}

.one,
.two,
.three,
.four,
.five {
  border: none;
  border-radius: 4px;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.48);
  overflow: hidden;
  padding: 20px 50px 20px 70px;
  margin-bottom: 20px;
  font-size: 20px;
  position: relative;
  color: white;
  outline: none;
  cursor: pointer;
  width: 100%;
  -webkit-transition: background-position 0.7s, box-shadow 0.4s;
  transition: background-position 0.7s, box-shadow 0.4s;
  background-size: 110%;
  font-family: "Oswald", sans-serif;
}
.one:hover,
.two:hover,
.three:hover,
.four:hover,
.five:hover {
  background-position: 0% 30%;
}
.one:hover:after,
.two:hover:after,
.three:hover:after,
.four:hover:after,
.five:hover:after {
  right: -40px;
  -webkit-transition: right 0.4s, -webkit-transform 30s 0.2s linear;
  transition: right 0.4s, -webkit-transform 30s 0.2s linear;
  transition: right 0.4s, transform 30s 0.2s linear;
  transition: right 0.4s, transform 30s 0.2s linear,
    -webkit-transform 30s 0.2s linear;
}
.one:before,
.two:before,
.three:before,
.four:before,
.five:before,
.one:after,
.two:after,
.three:after,
.four:after,
.five:after {
  font-family: FontAwesome;
  display: block;
  position: absolute;
}
.one:before,
.two:before,
.three:before,
.four:before,
.five:before {
  -webkit-transition: all 1s;
  transition: all 1s;
  font-size: 30px;
  left: 25px;
  top: 19px;
}
.one:after,
.two:after,
.three:after,
.four:after,
.five:after {
  -webkit-transition: right 0.4s, -webkit-transform 0.2s;
  transition: right 0.4s, -webkit-transform 0.2s;
  transition: right 0.4s, transform 0.2s;
  transition: right 0.4s, transform 0.2s, -webkit-transform 0.2s;
  font-size: 100px;
  opacity: 0.3;
  right: -120px;
  top: -17px;
}

.one {
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.16) inset,
    0px 0px 10px 0px #782cda;
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#782cda),
      to(rgba(126, 94, 162, 0.51))
    ),
    url("http://gearnuke.com/wp-content/uploads/2015/11/1280x720-cuU.jpg");
  background-image: linear-gradient(
      to bottom,
      #782cda,
      rgba(126, 94, 162, 0.51)
    ),
    url("http://gearnuke.com/wp-content/uploads/2015/11/1280x720-cuU.jpg");
}
.one:hover {
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.16) inset,
    0px 0px 30px 0px #782cda;
}
.one:hover:after {
  -webkit-transform: scale(1);
  transform: scale(1);
}
.one:hover:before {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.one:after,
.one:before {
  content: "";
}
.one b {
  color: #dda6ff;
  font-weight: 700;
}

.two {
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.16) inset,
    0px 0px 10px 0px #e48a3c;
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#e48a3c),
      to(rgba(222, 135, 61, 0.24))
    ),
    url("http://www.eatweartravel.com/wp-content/uploads/2015/04/i-love-shopping_1920x1200_83206.jpg");
  background-image: linear-gradient(
      to bottom,
      #e48a3c,
      rgba(222, 135, 61, 0.24)
    ),
    url("http://www.eatweartravel.com/wp-content/uploads/2015/04/i-love-shopping_1920x1200_83206.jpg");
}
.two:hover {
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.16) inset,
    0px 0px 30px 0px #e48a3c;
}
.two:hover:after {
  -webkit-transform: scale(1);
  transform: scale(1);
}
.two:hover:before {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.two:after,
.two:before {
  content: "";
}
.two b {
  color: #ffd9b4;
  font-weight: 700;
}

.three {
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.16) inset,
    0px 0px 10px 0px #36c176;
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#36c176),
      to(rgba(86, 202, 139, 0.18))
    ),
    url("http://blog.teamthinklabs.com/wp-content/uploads/2012/09/codepen-460x253.png");
  background-image: linear-gradient(
      to bottom,
      #36c176,
      rgba(86, 202, 139, 0.18)
    ),
    url("http://blog.teamthinklabs.com/wp-content/uploads/2012/09/codepen-460x253.png");
}
.three:hover {
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.16) inset,
    0px 0px 30px 0px #36c176;
}
.three:hover:after {
  -webkit-transform: scale(1);
  transform: scale(1);
}
.three:hover:before {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.three:after,
.three:before {
  content: "";
}
.three b {
  color: #63ffac;
  font-weight: 700;
}

.four {
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.16) inset,
    0px 0px 10px 0px #33e7ea;
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#33e7ea),
      to(rgba(161, 245, 245, 0.24))
    ),
    url("https://cdn2.itpro.co.uk/sites/itpro/files/server_room.jpg");
  background-image: linear-gradient(
      to bottom,
      #33e7ea,
      rgba(161, 245, 245, 0.24)
    ),
    url("https://cdn2.itpro.co.uk/sites/itpro/files/server_room.jpg");
}
.four:hover {
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.16) inset,
    0px 0px 30px 0px #33e7ea;
}
.four:hover:after {
  -webkit-transform: rotate(3000deg);
  transform: rotate(3000deg);
}
.four:hover:before {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
.four:after,
.four:before {
  content: "";
}
.four b {
  color: #1cf4ff;
  font-weight: 700;
}

.five {
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.16) inset,
    0px 0px 10px 0px #de3964;
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#de3964),
      to(rgba(154, 40, 87, 0.24))
    ),
    url("http://nightlifeassociates.com/wp-content/uploads/2014/03/hakkasan-nightclub_tiesto-smalls.jpg");
  background-image: linear-gradient(to bottom, #de3964, rgba(154, 40, 87, 0.24)),
    url("http://nightlifeassociates.com/wp-content/uploads/2014/03/hakkasan-nightclub_tiesto-smalls.jpg");
}
.five:hover {
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.16) inset,
    0px 0px 30px 0px #de3964;
}
.five:hover:after {
  -webkit-transform: scale(1);
  transform: scale(1);
}
.five:hover:before {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.five:after,
.five:before {
  content: "";
}
.five b {
  color: #f764ff;
  font-weight: 700;
}
